<% include cabecera.html %>
    <header>
      <h1><%= title %></h1>
      <p><%=__('Pagina de la Practica de Node BackEnd')%></p>
    </header>
    <% if (session.usuarioLogado) { %>
    <a class="nav-link js-scroll-trigger" href="/anuncios"><%= __('Ir al listado de anuncios') %></a>
    <% } %>
<% include pie.html %>